@import "var"


// --- layout ---

.c-row
  display: flex
  flex-direction: row
  &:not(:first-of-type)
    margin-top: 20px
.c-col
  display: flex
  flex-direction: column

.jc-end
  justify-content: flex-end

.as-fs
  align-self: flex-start

// --- 基本元件 ---

// 工具列按鈕
$menu-size: 60px

.menu
  position: absolute

  width: $menu-size
  height: $menu-size
  background: rgba(white, 0.2)
  transition-duration: 0.4s
  &:hover, &.hover
    background: rgba($color-main, 0.9)
  &.lb
    left: 0
    bottom: 0
    transform: translate(-50%, 50%) rotate(45deg)
    &:hover, &.hover
      transform: translate(-50%, 50%) rotate(45deg) scale(0.8)

  &.rb
    right: 0
    bottom: 0
    transform: translate(50%, 50%) rotate(45deg)
    &:hover, &.hover
      transform: translate(50%, 50%) rotate(45deg) scale(0.8)

// 路徑按鈕
.path-list
  position: absolute
  bottom: 0
  left: 0
  max-height: 90%
  overflow-y: auto
  padding: 30px
  //margin-bottom: $menu-size
  box-sizing: border-box  
  .path-btn
    display: flex
    flex-direction: column
    color: white
    padding: 10px 30px
    border: 1px solid rgba(white, 0.5)
    border-left: 3px solid rgba(white, 0.8)
    background: rgba(white, 0)
    transition-duration: 0.4s
    margin-top: 20px
    cursor: pointer
    background: $color-bg
    &:first-child
      margin-top: 0px
    label
      font-size: 18px
      text-shadow: 0px 0px 10px rgba(white, 0.5)
      cursor: pointer
    &:hover
      background: rgba(white, 0.1)
 
    &.exist
      color: rgba($color-main, 1)
      border-color: rgba($color-main, 1)
      label
        color: $color-main
        text-shadow: 0px 0px 10px rgba($color-main, 0.5)

// 系統設定
.app-option
  position: absolute
  width: 700px
  height: 100%
  top: 0px
  right: 0px
  color: white
  background: rgba($color-bg, 0.95)
  box-sizing: border-box
  padding-left: 10px
  $offset: 0px
  &::before
    content: ""
    position: absolute
    width: 1px
    top: 0px
    bottom: 0px
    left: $offset
    background: rgba(white, 0.5)
    animation: app-option-before 1s forwards cubic-bezier(0.25, 1, 0.5, 1)

  @keyframes app-option-before
    0%, 10%
      transform: translateX(10px)
      opacity: 0
    100%
      transform: translateX(0px)
      opacity: 1

  .q-item__label
    font-size: 20px
    color: white
    & + .q-item__label
      margin-top: 6px
  .q-item__label--caption
    font-size: 14px
    color: rgba(white, 0.6)

  .q-item
    border-bottom: 1px solid rgba(white, 0.3)

  .option-item
    display: flex
    align-items: center
    padding: 5px 15px
    background: rgba(white, 0.05)
    &:hover
      label
        color: $color-main
        &::before
          color: $color-main

    label
      transition-duration: 0.4s
      color: white
      flex: 1
      &::before
        content: "▪"
        margin-right: 5px
        color: white
        transition-duration: 0.4s

    .ctrl
      flex: 1

    input, select
      width: 100%
      border: none
      outline: none
      color: white
      font-family: "Noto Sans TC"

    input.text
      padding: 5px 10px
      background: rgba(white, 0.1)
      text-align: center
      flex: 0.8
    input.checkbox      
      flex: 0.8
      height: 20px

.btn-area
  display: flex
  flex-direction: row
  .btn
    &:not(:first-of-type)
      margin-left: 30px

// 按鈕基本樣式
.btn
  position: relative
  padding: 5px 30px
  font-size: 18px
  white-space: nowrap
  border: 1px solid rgba(white, 0.9)
  cursor: pointer
  transition-duration: 0.4s
  user-select: none
  text-align: center
  overflow: hidden
  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: white
    transition-duration: 0.4s
    pointer-events: none
    opacity: 0
  &:hover
    &::after
      opacity: 0.3
  &:active
    &::after
      opacity: 0.7
      transition-duration: 0.01s
    
  &.l
    font-size: 22px
  &.xl
    padding: 8px 30px
    font-size: 30px


  &.solid
    border: none
    background: $color-main
    border-radius: 999px
    color: white    
    &.r
      background: $color-red
    &.g
      background: $color-green

  &.understated, &.disable
    opacity: 0.5
  &.disable
    pointer-events: none


// 分隔線
.br
  width: 100%
  border-top: 1px solid rgba(white, 0.2)
  &.v
    width: auto
    height: auto
    border: none
    border-left: 1px solid rgba(white, 0.2)
  &.hide
    opacity: 0

  &.white
    border-color: rgba(white, 0.5)

hr
  width: 100%
  opacity: 0.4

// --- 頁面元件 ---

.screen
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  overflow: auto
  padding: 30px

.card-content
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  pointer-events: none
  perspective: 1500px
  transition-duration: 0.4s
  &.humble
    opacity: 0.3
    .module-card-frame
      pointer-events: none

.curtain
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(-30deg, rgba($color-bg, 1), rgba($color-darkblue, 1))
  h1
    letter-spacing: 1px
    animation: breathe 4s infinite
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1)
    color: white

  @keyframes breathe
    0%, 100%
      opacity: 0.8
    50%
      opacity: 0.3


.curtain-enter-active, .curtain-leave-active
  transition-duration: 0.7s !important
  h1
    transition-duration: 0.7s !important
.curtain-enter, .curtain-leave-to 
  transform: scale(1.1) !important
  opacity: 0 !important
  h1
    letter-spacing: 20px !important
    opacity: 0 !important




// --- quasar ---

.q-menu
  transition-duration: 0.2s !important

.q-tooltip
  border-radius: 0px
  background: rgba(#444, 0.98)
  overflow: visible
  box-sizing: border-box

.border-effect
  &::after, &::before
    content: ""
    position: absolute
    width: 2px
    height: 100%
    top: 0px
    background: $color-main
    animation: tooltipFrame 1s forwards cubic-bezier(0.16, 1, 0.3, 1)
  &::after
    left: -5px
  &::before
    transform: rotate(180deg)
    right: -5px
  &.err
    &::after, &::before
      background: $color-err
  &.warn
    &::after, &::before
      background: $color-warn
  
@keyframes tooltipFrame
  0%
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%)
  100%
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%)

  
// --- Vue transition ---

.opacity-enter-active, .opacity-leave-active 
  transition-duration: 0.4s
.opacity-enter, .opacity-leave-to 
  opacity: 0 !important

.zoom-out-enter-active, .zoom-out-leave-active 
  transition-duration: 0.4s
.zoom-out-enter, .zoom-out-leave-to 
  opacity: 0
  transform: scale(0.95) !important


.move-down-enter-active, .move-down-leave-active 
  transition-duration: 0.3s !important
.move-down-enter, .move-down-leave-to 
  opacity: 0
  transform: translateY(10px) !important

.move-right-enter-active, .move-right-leave-active 
  transition-duration: 0.3s
.move-right-enter, .move-right-leave-to 
  opacity: 0
  transform: translateX(10px) !important

.move-left-enter-active, .move-left-leave-active 
  transition-duration: 0.3s
.move-left-enter, .move-left-leave-to 
  opacity: 0
  transform: translateX(-10px) !important

.move-bottom-right-enter-active, .move-bottom-right-leave-active 
  transition-duration: 0.3s
.move-bottom-right-enter, .move-bottom-right-leave-to 
  opacity: 0
  transform: translate(-10px, 10px) !important

.list-enter-active, .list-leave-active 
  transition: all 0.4s
.list-move 
  transition: all 0.4s
.list-leave-active 
  position: absolute
.list-enter, .list-leave-to
  opacity: 0
  transform: translateX(1px)

.sacle-h-enter-active, .sacle-h-leave-active 
  transition-duration: 0.3s
.sacle-h-enter, .sacle-h-leave-to 
  max-height: 0vh !important


.card-move
  transition-duration: 0.3s !important
.card-enter, .card-leave-to 
  opacity: 0 !important  
.card-enter
  transform: rotateY(20deg) !important  
.card-leave-to 
  transform: rotateY(-20deg) !important
.card-leave-active
  position: absolute !important

//.card-leave
  //transition-duration: 0s !important
  //opacity: 0 !important