template
  .module-card-frame(@click="selected()" :class="{'selected': status.isSelected}"
              :key="path" v-cloak)
    .shape.lt
    .shape.lb
    .shape.rt
    .shape.rb

    .d-none {{cardSetting}}

    .module-card
      .header
        .header-item
          label.path(:class="{'active': status.isPortOpen}")
            | {{com.path}}

          .module-detail(:class="{'active': status.isPortOpen}")
            template(v-if="!autoHelper.moduleDetailNotSet")
              label.type
                | {{module.type}}
              label.id
                | {{module.id}} - v{{module.ver}}

            template(v-else)
              label.opacity-0d8
                | 請完成「模組設定」
          
          .action
            .action-btn(@click="switchPort()"
                        :class="{'active': status.isPortOpen}").switch
      .body
        .title(v-if="panelVal.key")
          | 顯示面板類型：{{panelVal.name}} {{panelVal.key}}
        .c-row
          // 顯示模組參數
          params-form(:panel="panelVal"
                      :moduleParams="moduleParams"
                      :receiveData="module.params")

          .br.v.mr-10px.ml-10px

          // 發送命令
          setter-form(v-if="!status.isRecordLoading"
                      :panel="panelVal"
                      :moduleParams="moduleParams"
                      :moduleCmds="moduleCmds"
                      :setterRecord="setter"
                      :isPortOpen="status.isPortOpen"
                      :path="path"
                      @setterChange="onSetterChange"
                      @send="onSetterSend"
                      @msg="onSetterMsg"
                      ref="setter")

        .br.mt-10px

        // 資料收發區
        .transceiver
          .input
            input(v-model="input.val" @keyup.enter="sendInput")
            transition(name="send" mode="out-in")
              .effect(:key="input.timestamp")

          template
            .textarea(v-if="textarea.display.val === 'time'"
                      ref="dataTextarea")
              .text-item(v-for="data in textarea.datas"
                         :style="textareaStyle")
                .date {{formatTimestamp(data.timestamp)}}
                .text(v-html="data.data")
            .textarea(v-else :style="textareaStyle"
                      v-html="textareaString" ref="dataTextarea")


      // 設定區
      transition(name="opacity")
        .option(v-if="status.showOption")
          q-list
            q-expansion-item(label="模組設定" icon="toc" 
                            :default-opened="autoHelper.moduleDetailNotSet"
                            caption="類型、型號 •••")
              .option-item
                .label 模組
                q-select(v-model="module.type"
                        @input-value="(val) => qSelectInput(val, 'type')"
                        :options="moduleSelectData.type"
                        use-input dark)
              .option-item
                .label 型號
                q-select(v-model="module.id"
                        @input-value="(val) => qSelectInput(val, 'id')"
                        :options="moduleSelectData.id"
                        use-input dark)
              .option-item
                .label 版本
                q-select(v-model="module.ver"
                        @input-value="(val) => qSelectInput(val, 'ver')"
                        :options="moduleSelectData.ver"
                        use-input dark)
              .option-item
                .label 面板
                q-select(v-model="module.panel"
                        :options="moduleSelectData.panel"
                        dark style="width: 150px")

            q-expansion-item(label="串列通訊設定" icon="settings_power"
                             caption="BPS、校驗位、停止位 •••")
              .option-item
                .label BPS
                input(v-model.number="com.option.baudRate").text
              .option-item
                .label buffer
                input(v-model.number="com.option.highWaterMark").text
              .option-item
                .label 位元數
                input(v-model.number="com.option.dataBits").text
              .option-item
                .label 停止位
                input(v-model.number="com.option.stopBits").text
              .option-item
                .label 校驗位
                input(v-model.number="com.option.parity").text

            q-expansion-item(label="卡片功能設定" icon="tab"
                             caption="是否自動捲動、自動清空 •••")
              .option-item
                .label 發送後清空
                input(v-model="com.option.sendClear"
                      type="checkbox").checkbox
              .option-item
                .label 貼底自動捲動
                input(v-model="com.option.autoScroll"
                      type="checkbox").checkbox
              .option-item
                .label 命令沒有響應時，清空命令駐列
                input(v-model="com.option.clearQueueWhenNoRes"
                      type="checkbox").checkbox

            q-expansion-item(label="顯示樣式設定" icon="book"
                             caption="系統提示文字字級、字距 •••")
              .option-item
                .label 字級
                input(v-model.number="textarea.style.fontSize.val"
                      type="number").w-100px.flex-none.text
                input(v-model="textarea.style.fontSize.unit").w-100px.flex-none.text
              .option-item
                .label 行高
                input(v-model.number="textarea.style.lineHeight.val"
                      type="number").w-100px.flex-none.text
                input(v-model="textarea.style.lineHeight.unit").w-100px.flex-none.text
              .option-item
                .label 字距
                input(v-model.number="textarea.style.letterSpacing.val"
                      type="number").w-100px.flex-none.text
                input(v-model="textarea.style.letterSpacing.unit").w-100px.flex-none.text

            q-item(@click="status.showOption = false"
                  clickable)
              q-item-section
                q-avatar(icon="close")
              q-item-section 關閉設定


      // 卡片右鍵選單
      q-menu(content-class="card-context-menu"
            context-menu)
        q-list()
          q-item(@click="switchPort()"
                clickable v-close-popup="true")
            q-item-section 切換 Port 開關

          q-separator

          q-item(@click="status.showOption = !status.showOption"
                :class="{'active': status.showOption}"
                clickable v-close-popup="true")
            q-item-section 細節設定

          q-item(@click="clearTextarea()"
                clickable v-close-popup="true")
            q-item-section 清空接收訊息
          
          q-separator

          q-item(@click="deleteCard"
                 clickable v-close-popup="true")
            q-item-section 刪除卡片


script(src="./js/module-card.js")