mixin param-section-block
  hr(v-if="param.block === 'hr'")
  label(v-else)
    | 未定義的排版元件 {{param.block}}

mixin param-section-label
  .label(:msg="param.key"
          :class="param.class")
    | {{param.name}}
    q-tooltip(transition-show="jump-up"
              transition-hide="jump-up"
              anchor="bottom left" self="top left"
              :content-class=`['fs-14',  'word-break', 'border-effect']`)
      |{{param.key}}<br>{{param.description}}

mixin param-section-ctrl-tooltip
  q-tooltip(v-if="param.timestamp !== 0"
            transition-show="jump-up"
            transition-hide="jump-up"
            anchor="bottom left" self="top left"
            :content-class=`['fs-14',  'word-break', 'border-effect']`)
    | 接收時間：{{formatUnix(param.timestamp * 1000)}}



template
  .modules-params(v-if="status.err === ''")
    transition-group(name="list" tag="div").params-form
      .param-item(v-for="param in params"
                  :key="param.key")
        transition(name="param-item" mode="out-in")
          // --- 排版元件 ---
          .param-section(v-if="param.block")
            +param-section-block()
        
          // --- 數值元件 ---
          // 字串
          .param-section(v-else-if="param.ctrl === 'String'"
                         :key="param.timestamp")
            +param-section-label()
            .ctrl
              +param-section-ctrl-tooltip()
              input(:value="param.value" readonly
                    type="text").number

          // 單一數值
          .param-section(v-else-if="param.ctrl === 'Number'"
                         :key="param.timestamp")
            +param-section-label()
            .ctrl
              +param-section-ctrl-tooltip()
              input(:value="param.value" readonly
                    type="text").number

          // Select
          .param-section(v-else-if="param.ctrl === 'Select'"
                         :key="param.timestamp")
            +param-section-label()
            .ctrl       
              +param-section-ctrl-tooltip()       
              select(:value="param.value")
                option(value="NONE" disabled) NONE
                option(v-for="listItem in param.list" disabled
                        :key="listItem.val" :value="listItem.val")
                  | {{listItem.description}}

          //  長度大於 5 的 Array
          .param-section.v(v-else-if=`param.ctrl === 'Array'
                          && param.value.length >= 5`
                         :key="param.timestamp")
            +param-section-label()
            .ctrl
              +param-section-ctrl-tooltip()
              input(:value="showArray(param.value, ' ')" readonly
                    type="text").array

          // Array
          .param-section(v-else-if="param.ctrl === 'Array'"
                         :key="param.timestamp")
            +param-section-label()
            //.ctrl
              input(v-for="item in param.value"
                    :value="item" readonly
                    type="text").array
            .ctrl
              +param-section-ctrl-tooltip()
              input(:value="showArray(param.value, ' ')" readonly
                    type="text").array

          .param-section(v-else)
            label 未定義的資料組件 {{param.ctrl}}
            q-tooltip(transition-show="jump-up"
                      transition-hide="jump-up"
                      anchor="bottom left" self="top left"
                      :content-class=`['fs-14',  'word-break', 'border-effect']`)
              | {{param}}


  .modules-params(v-else)
    label {{status.err}}

script(src="./js/params-form.js")