mixin setter-block
  hr(v-if="setter.block === 'hr'")
  label(v-else)
    | 未定義的排版元件 {{setter.block}}

mixin setter-label()
  .label(:msg="setter.key"
         :class="setter.class")
    | {{setter.name}}
    q-tooltip(transition-show="jump-up"
              transition-hide="jump-up"
              anchor="center right" self="center left"
              :content-class=`['fs-14',  'word-break', 'border-effect']`)
      | {{setter.key}}<br>{{setter.description}}


mixin btn-shapes
  .btn-shape.rt
  .btn-shape.rb
  .btn-shape.lt
  .btn-shape.lb



template
  .setter-params(v-if="status.err === ''")
    transition-group(name="list" tag="div").setter-form
      .setter-item(v-for="(setter, i) in setterList"
                   :key="setter.key + '-' + i")
        // Block 排版元件
        .setter-section(v-if="setter.block")
          +setter-block()

        // 不須參數
        .setter-section(v-else-if="setter.noParams")
          .setter-label
            +setter-label()

            transition(name="btn" mode="out-in")
              .btn(@click="sendSetting(setters[i], setter)"
                   :class="{'lock': !isPortOpen}"
                   :key="setters[i].timestamp")
                +btn-shapes
          
        // 需要參數
        .setter-section.h(v-else)
          .c-col.w-100.mr-5px
            input(v-model="setters[i].isMinify"
                  type="checkbox" :id="path + '-' + setter.key + '-' + i" checked).accordion
            label(:for="path + '-' + setter.key + '-' + i").setter-label.accordion
              +setter-label()
            
            .ctrl
              // 命令參數
              template(v-if="!isEmpty(setter.params)")
                setter-ctrl(:setter="setter"
                            :computedSetterParams="setter.params"
                            :setterDataParams="setters[i].params"
                            @setterChange="onSetterChange")
              //hr
              template(v-if="!isEmpty(setter.extParams)")
                setter-ctrl(:setter="setter"
                            :computedSetterParams="setter.extParams"
                            :setterDataParams="setters[i].extParams"
                            @setterChange="onSetterChange")
                    

          transition(name="btn" mode="out-in")
            .btn(@click="sendSetting(setters[i], setter)"
                 :class="{'lock': !isPortOpen}"
                 :key="setters[i].timestamp")
              +btn-shapes


  .setter-params(v-else)
    label {{status.err}}


script(src="./js/setter-form.js")