@charset "UTF-8";
.module-card,.module-card-frame{display:-webkit-box;display:-webkit-flex}
.module-card-frame{display:-ms-flexbox;display:flex;pointer-events:auto;position:relative;border:1px solid rgba(255,255,255,.5);-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;margin-right:20px;margin-bottom:20px}
.module-card-frame .shape{position:absolute;width:25px;height:25px;-webkit-clip-path:polygon(0 1%,0 100%,100% 0);clip-path:polygon(0 1%,0 100%,100% 0);background:rgba(255,255,255,.2);-webkit-transition-duration:.7s;-o-transition-duration:.7s;transition-duration:.7s;-webkit-transition-timing-function:cubic-bezier(.34,1.56,.64,1);-o-transition-timing-function:cubic-bezier(.34,1.56,.64,1);transition-timing-function:cubic-bezier(.34,1.56,.64,1)}
.module-card-frame .shape.lt{top:0;left:0;-webkit-transform:translate(-25%,-25%) rotate(0);-ms-transform:translate(-25%,-25%) rotate(0);transform:translate(-25%,-25%) rotate(0)}
.module-card-frame .shape.lb{bottom:0;left:0;-webkit-transform:translate(-25%,25%) rotate(-90deg);-ms-transform:translate(-25%,25%) rotate(-90deg);transform:translate(-25%,25%) rotate(-90deg)}
.module-card-frame .shape.rt{top:0;right:0;-webkit-transform:translate(25%,-25%) rotate(90deg);-ms-transform:translate(25%,-25%) rotate(90deg);transform:translate(25%,-25%) rotate(90deg)}
.module-card-frame .shape.rb{bottom:0;right:0;-webkit-transform:translate(25%,25%) rotate(180deg);-ms-transform:translate(25%,25%) rotate(180deg);transform:translate(25%,25%) rotate(180deg)}
.module-card-frame.selected{border-color:#42e3b3}
.module-card-frame.selected .shape{background:rgba(66,227,179,.6);width:15px;height:15px;-webkit-transition-timing-function:cubic-bezier(.16,1,.3,1);-o-transition-timing-function:cubic-bezier(.16,1,.3,1);transition-timing-function:cubic-bezier(.16,1,.3,1)}
.module-card-frame.selected .shape.lt{-webkit-transform:translate(20%,20%) rotate(0);-ms-transform:translate(20%,20%) rotate(0);transform:translate(20%,20%) rotate(0)}
.module-card-frame.selected .shape.lb{-webkit-transform:translate(20%,-20%) rotate(-90deg);-ms-transform:translate(20%,-20%) rotate(-90deg);transform:translate(20%,-20%) rotate(-90deg)}
.module-card-frame.selected .shape.rt{-webkit-transform:translate(-20%,20%) rotate(90deg);-ms-transform:translate(-20%,20%) rotate(90deg);transform:translate(-20%,20%) rotate(90deg)}
.module-card-frame.selected .shape.rb{-webkit-transform:translate(-20%,-20%) rotate(180deg);-ms-transform:translate(-20%,-20%) rotate(180deg);transform:translate(-20%,-20%) rotate(180deg)}
.module-card{padding:15px 22.5px;position:relative;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.module-card .header{position:relative;margin-bottom:10px;padding-top:10px;padding-bottom:25px;border-bottom:1px solid rgba(255,255,255,.2);color:#fff}
.module-card .header .header-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.module-card .header .module-detail{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-left:20px;height:auto}
.module-card .body,.module-card .header .action{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex}
.module-card .header .module-detail .id,.module-card .header .module-detail .type{position:absolute;line-height:1;text-shadow:0 0 10px rgba(255,255,255,.5);-webkit-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s}
.module-card .header .module-detail .type{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);font-size:20px;color:rgba(255,255,255,.8)}
.module-card .header .module-detail .id{-webkit-transform:translateY(80%);-ms-transform:translateY(80%);transform:translateY(80%);font-size:12px;color:rgba(255,255,255,.5)}
.module-card .header .module-detail.active .type{color:#42e3b3}
.module-card .header .module-detail.active .id{color:rgba(66,227,179,.8)}
.module-card .header .path{font-size:22px;line-height:1;color:#fff;letter-spacing:2px;text-shadow:0 0 10px rgba(255,255,255,.8);-webkit-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s}
.module-card .header .path.active{text-shadow:0 0 10px #fff;color:#42e3b3}
.module-card .header .action{position:absolute;right:0;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.module-card .header .action .action-btn{margin-left:30px}
.module-card .header .action .switch{position:relative;width:20px;height:20px;cursor:pointer}
.module-card .header .action .switch::after,.module-card .header .action .switch::before{content:"";position:absolute;top:50%;right:0;-webkit-transition-duration:.7s;-o-transition-duration:.7s;transition-duration:.7s;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition-timing-function:cubic-bezier(.87,0,.13,1);-o-transition-timing-function:cubic-bezier(.87,0,.13,1);transition-timing-function:cubic-bezier(.87,0,.13,1)}
.module-card .header .action .switch::after{width:35px;height:35px;background:rgba(66,227,179,0);border:1px solid rgba(255,255,255,.8);-webkit-box-shadow:0 0 10px rgba(66,227,179,0);box-shadow:0 0 10px rgba(66,227,179,0)}
.module-card .header .action .switch::before{width:35px;height:35px;border:1px solid rgba(255,255,255,0);-webkit-transform:translateY(-50%) scale(0);-ms-transform:translateY(-50%) scale(0);transform:translateY(-50%) scale(0)}
.module-card .header .action .switch.active::after{background:#42e3b3;border-color:rgba(255,255,255,0);-webkit-transform:translateY(-50%) scale(.4);-ms-transform:translateY(-50%) scale(.4);transform:translateY(-50%) scale(.4);-webkit-box-shadow:0 0 10px #42e3b3;box-shadow:0 0 10px #42e3b3}
.module-card .header .action .switch.active::before{border-color:rgba(255,255,255,.5);-webkit-transform:translateY(-50%) scale(1);-ms-transform:translateY(-50%) scale(1);transform:translateY(-50%) scale(1)}
.module-card .body{display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.module-card .body .title{width:100%;text-align:center;border:1px solid rgba(255,255,255,.3);border-right:3px solid rgba(255,255,255,.3);border-left:3px solid rgba(255,255,255,.3);color:rgba(255,255,255,.9);padding:5px 10px;margin-bottom:10px}
.module-card .body .transceiver{position:relative}
.module-card .body .transceiver .input{position:relative;margin-top:10px}
.module-card .body .transceiver input{width:100%;border:none;outline:0;background:-webkit-linear-gradient(120deg,rgba(255,255,255,.01),rgba(255,255,255,.1));background:-o-linear-gradient(120deg,rgba(255,255,255,.01),rgba(255,255,255,.1));background:linear-gradient(-30deg,rgba(255,255,255,.01),rgba(255,255,255,.1));padding:5px 10px;color:#fff}
.module-card .body .transceiver .effect{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;-webkit-transition-duration:.1s!important;-o-transition-duration:.1s!important;transition-duration:.1s!important}
.module-card .body .transceiver .send-enter,.module-card .body .transceiver .send-leave-to{background:rgba(255,255,255,.5)}
.module-card .body .transceiver .textarea{width:830px;height:80px;min-width:485px;min-height:80px;font-family:"Noto Sans TC";letter-spacing:2px;line-height:2;border:none;outline:0;background:-webkit-linear-gradient(170deg,rgba(255,255,255,.01),rgba(255,255,255,.1));background:-o-linear-gradient(170deg,rgba(255,255,255,.01),rgba(255,255,255,.1));background:linear-gradient(-80deg,rgba(255,255,255,.01),rgba(255,255,255,.1));margin-top:10px;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;word-break:break-all;white-space:pre;overflow:auto;color:#fff}
.module-card .body .transceiver .textarea .err{color:#FF5858}
.module-card .body .transceiver .textarea .warn{color:#ff9447}
.module-card .body .transceiver .textarea .text-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:5px}
.module-card .body .transceiver .textarea .text-item .date{border-right:1px solid rgba(255,255,255,.2);margin-right:10px;padding-right:10px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.module-card .body .transceiver .textarea .text-item .text{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4;word-break:break-all;white-space:normal}
.module-card .option{position:absolute;top:0;left:0;padding:10px;width:100%;height:100%;background:rgba(23,23,23,.98);overflow:auto}
.modules-params,.setter-params{max-height:63vh;overflow-x:hidden;overflow-y:auto}
.module-card .option .q-expansion-item{color:#fff}
.module-card .option .q-expansion-item .q-item__label{font-size:18px}
.module-card .option .q-expansion-item .q-item__label--caption{font-size:12px;color:rgba(255,255,255,.6)}
.module-card .option .q-item{color:#fff;border-bottom:1px solid rgba(255,255,255,.3)}
.module-card .option .option-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:5px 15px;background:rgba(255,255,255,.05)}
.module-card .option .option-item:hover .label,.module-card .option .option-item:hover .label::before{color:#42e3b3}
.module-card .option .option-item .label{-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;color:#fff;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.module-card .option .option-item .label::before{content:"▪";margin-right:5px;color:#fff;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.module-card .option .option-item input.text{color:#fff;padding:5px 10px;border:none;outline:0;background:rgba(255,255,255,.1);text-align:center;-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8}
.module-card .option .option-item input.checkbox{color:#fff;-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;height:20px}
.module-card .option .option-item .q-select{width:150px;background:rgba(255,255,255,.1);-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.module-card .option .option-item .q-select .q-field__marginal{height:auto}
.module-card .option .option-item .q-select .q-field__control,.module-card .option .option-item .q-select .q-field__native{min-height:auto!important}
.module-card .option .option-item .q-select .q-field__native{padding:5px 10px}
.card-context-menu{border-radius:0;border:1px solid rgba(255,255,255,.3);background:rgba(20,25,26,.9);color:#fff}
.card-context-menu .q-list{min-width:170px}
.card-context-menu .q-item.active{background:rgba(255,255,255,.1)}
.card-context-menu .q-item.active .q-item__section{color:#42e3b3}
.card-context-menu .q-separator{background:rgba(255,255,255,.3)}
.modules-params{color:#fff;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.modules-params .params-form{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.modules-params .params-form .param-item{margin-top:5px}
.modules-params .params-form .param-item:first-child{margin-top:0}
.modules-params .params-form .param-item hr{margin:2px 0}
.modules-params .params-form .param-section{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.modules-params .params-form .param-section.v{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.modules-params .params-form .param-section .label{width:100%;font-size:14px;outline-right:1px solid rgba(255,255,255,.2);position:relative;text-align:left;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.modules-params .params-form .param-section .ctrl{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form,.setter-params .setter-form .setter-section{display:-webkit-flex;display:-ms-flexbox;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.modules-params .params-form .param-section .ctrl input,.modules-params .params-form .param-section .ctrl select{width:100%;border:none;outline:0;background:rgba(255,255,255,.1);padding:5px;max-width:200px;color:#fff;font-family:"Noto Sans TC"}
.modules-params .params-form .param-section .ctrl .number{text-align:center}
.modules-params .params-form .param-section .ctrl select{-moz-text-align-last:center;text-align-last:center;font-family:"Noto Sans TC"}
.modules-params .params-form .param-section .ctrl select option{color:#fff;background:rgba(20,25,26,.95);font-family:"Noto Sans TC";border:none;outline:0}
.modules-params .params-form .param-section .ctrl .array{width:100%;text-align:center;font-size:12px;max-width:none}
.modules-params .param-item-enter-active,.modules-params .param-item-leave-active{-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.modules-params .param-item-enter,.modules-params .param-item-leave-to{opacity:0!important}
.modules-params .param-item-enter{-webkit-transform:translateX(-5px)!important;-ms-transform:translateX(-5px)!important;transform:translateX(-5px)!important}
.modules-params .param-item-leave-to{-webkit-transform:translateX(5px)!important;-ms-transform:translateX(5px)!important;transform:translateX(5px)!important}
.setter-params{color:#fff;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form{display:-webkit-box;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.setter-params .setter-form .setter-item{margin-top:10px}
.setter-params .setter-form .setter-item:first-child{margin-top:0}
.setter-params .setter-form .setter-item hr{margin:0}
.setter-params .setter-form .setter-section{display:-webkit-box;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.setter-params .setter-form .setter-section.h{position:relative;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.setter-params .setter-form .setter-section.h .btn{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;top:0;bottom:0}
.setter-params .setter-form .setter-section .btn{padding:10px;outline:rgba(255,255,255,0) solid 1px;border-color:rgba(255,255,255,.1);outline-offset:-1px;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:rgba(255,255,255,.1);position:relative;overflow:visible}
.setter-params .setter-form .setter-section .btn.empty{cursor:not-allowed}
.setter-params .setter-form .setter-section .btn.lock{cursor:not-allowed;opacity:.2}
.setter-params .setter-form .setter-section .btn:active .btn-shape{background-color:#42e3b3}
.setter-params .setter-form .setter-section .btn .btn-shape{position:absolute;width:1px;height:1px;background:#fff;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.setter-params .setter-form .setter-section .btn .btn-shape.rt{right:-1px;top:-1px}
.setter-params .setter-form .setter-section .btn .btn-shape.rb{right:-1px;bottom:-1px}
.setter-params .setter-form .setter-section .btn .btn-shape.lt{left:-1px;top:-1px}
.setter-params .setter-form .setter-section .btn .btn-shape.lb{left:-1px;bottom:-1px}
.setter-params .setter-form .setter-section input.accordion{display:none}
.setter-params .setter-form .setter-section input.accordion:checked~.setter-label.accordion::after{-webkit-transform:rotateX(180deg) scale(1.5);transform:rotateX(180deg) scale(1.5);opacity:1}
.setter-params .setter-form .setter-section input.accordion:checked~.ctrl{max-height:0}
.setter-params .setter-form .setter-section .setter-label{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.setter-params .setter-form .setter-section .setter-label.accordion{cursor:pointer}
.setter-params .setter-form .setter-section .setter-label.accordion::after{content:"▴";-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;opacity:.5}
.setter-params .setter-form .setter-section .setter-label .label{width:100%;font-size:14px;outline-right:1px solid rgba(255,255,255,.2);position:relative;text-align:left;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form .setter-section .ctrl{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;max-height:30vh;overflow:hidden;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form .setter-section .ctrl-section{width:100%;border-left:1px solid rgba(255,255,255,.5)}
.setter-params .setter-form .setter-section .ctrl-sub-item{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.setter-params .setter-form .setter-section .ctrl-item{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:5px;padding-left:10px}
.setter-params .setter-form .setter-section .ctrl-item:first-child{margin-top:0}
.setter-params .setter-form .setter-section .ctrl-item.v{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.setter-params .setter-form .setter-section .ctrl-item .label{width:100%;color:rgba(255,255,255,.6);margin-right:5px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form .setter-section .ctrl-item .label.err{color:#FF5858}
.setter-params .setter-form .setter-section .ctrl-item .ctrl-sub-item{border:1px solid rgba(255,255,255,0);border-left:3px solid rgba(255,255,255,0);border-right:3px solid rgba(255,255,255,0);-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.setter-params .setter-form .setter-section .ctrl-item .ctrl-sub-item.err{border-color:#FF5858}
.setter-params .setter-form .setter-section .ctrl-item .ctrl-sub-item.warn{border-color:#ff9447}
.setter-params .setter-form .setter-section .ctrl-item input,.setter-params .setter-form .setter-section .ctrl-item select{width:100%;border:none;outline:0;background:rgba(255,255,255,.1);font-family:"Noto Sans TC";padding:2px;max-width:200px;color:#fff}
.setter-params .setter-form .setter-section .ctrl-item .number{text-align:center}
.setter-params .setter-form .setter-section .ctrl-item select{-moz-text-align-last:center;text-align-last:center;font-family:"Noto Sans TC"}
.setter-params .setter-form .setter-section .ctrl-item select option{color:#fff;background:rgba(20,25,26,.95);border:none;outline:0;font-family:"Noto Sans TC"}
.setter-params .setter-form .setter-section .ctrl-item .array{width:100%;text-align:center;font-size:12px}
.setter-params .setter-form .setter-section .ctrl-item .l-array{min-width:100%;text-align:center;font-size:10px}
.setter-params .btn-enter,.setter-params .btn-leave{outline:#fff solid 1px!important;outline-offset:-1px!important}
.setter-params .btn-enter-active,.setter-params .btn-leave-active{outline:#fff solid 1px!important}
.setter-params .btn-enter-to,.setter-params .btn-leave-to{background:#42e3b3;outline:rgba(255,255,255,0) solid 1px!important;outline-offset:10px!important}