@charset "UTF-8";
.c-row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.c-row:not(:first-of-type){margin-top:20px}
.c-col{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.jc-end{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.as-fs{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}
.menu{position:absolute;width:60px;height:60px;background:rgba(255,255,255,.2);-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.menu.hover,.menu:hover{background:rgba(66,227,179,.9)}
.menu.lb{left:0;bottom:0;-webkit-transform:translate(-50%,50%) rotate(45deg);-ms-transform:translate(-50%,50%) rotate(45deg);transform:translate(-50%,50%) rotate(45deg)}
.menu.lb.hover,.menu.lb:hover{-webkit-transform:translate(-50%,50%) rotate(45deg) scale(.8);-ms-transform:translate(-50%,50%) rotate(45deg) scale(.8);transform:translate(-50%,50%) rotate(45deg) scale(.8)}
.menu.rb{right:0;bottom:0;-webkit-transform:translate(50%,50%) rotate(45deg);-ms-transform:translate(50%,50%) rotate(45deg);transform:translate(50%,50%) rotate(45deg)}
.menu.rb.hover,.menu.rb:hover{-webkit-transform:translate(50%,50%) rotate(45deg) scale(.8);-ms-transform:translate(50%,50%) rotate(45deg) scale(.8);transform:translate(50%,50%) rotate(45deg) scale(.8)}
.path-list{position:absolute;bottom:0;left:0;max-height:90%;overflow-y:auto;padding:30px;-webkit-box-sizing:border-box;box-sizing:border-box}
.path-list .path-btn{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;color:#fff;padding:10px 30px;border:1px solid rgba(255,255,255,.5);border-left:3px solid rgba(255,255,255,.8);background:rgba(255,255,255,0);-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;margin-top:20px;cursor:pointer;background:#14191a}
.path-list .path-btn:first-child{margin-top:0}
.path-list .path-btn label{font-size:18px;text-shadow:0 0 10px rgba(255,255,255,.5);cursor:pointer}
.path-list .path-btn:hover{background:rgba(255,255,255,.1)}
.path-list .path-btn.exist{color:#42e3b3;border-color:#42e3b3}
.path-list .path-btn.exist label{color:#42e3b3;text-shadow:0 0 10px rgba(66,227,179,.5)}
.app-option{position:absolute;width:700px;height:100%;top:0;right:0;color:#fff;background:rgba(20,25,26,.95);-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:10px}
.app-option::before{content:"";position:absolute;width:1px;top:0;bottom:0;left:0;background:rgba(255,255,255,.5);-webkit-animation:app-option-before 1s forwards cubic-bezier(.25,1,.5,1);animation:app-option-before 1s forwards cubic-bezier(.25,1,.5,1)}
@-webkit-keyframes app-option-before{0%,10%{-webkit-transform:translateX(10px);transform:translateX(10px);opacity:0}
100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}
@keyframes app-option-before{0%,10%{-webkit-transform:translateX(10px);transform:translateX(10px);opacity:0}
100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}
.app-option .q-item__label{font-size:20px;color:#fff}
.app-option .q-item__label+.q-item__label{margin-top:6px}
.app-option .q-item__label--caption{font-size:14px;color:rgba(255,255,255,.6)}
.app-option .q-item{border-bottom:1px solid rgba(255,255,255,.3)}
.app-option .option-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:5px 15px;background:rgba(255,255,255,.05)}
.app-option .option-item:hover label{color:#42e3b3}
.app-option .option-item:hover label::before{color:#42e3b3}
.app-option .option-item label{-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;color:#fff;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.app-option .option-item label::before{content:"▪";margin-right:5px;color:#fff;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.app-option .option-item .ctrl{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.app-option .option-item input,.app-option .option-item select{width:100%;border:none;outline:0;color:#fff;font-family:"Noto Sans TC"}
.app-option .option-item input.text{padding:5px 10px;background:rgba(255,255,255,.1);text-align:center;-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8}
.app-option .option-item input.checkbox{-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;height:20px}
.btn-area{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.btn-area .btn:not(:first-of-type){margin-left:30px}
.btn{position:relative;padding:5px 30px;font-size:18px;white-space:nowrap;border:1px solid rgba(255,255,255,.9);cursor:pointer;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;overflow:hidden}
.btn::after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;pointer-events:none;opacity:0}
.btn:hover::after{opacity:.3}
.btn:active::after{opacity:.7;-webkit-transition-duration:10ms;-o-transition-duration:10ms;transition-duration:10ms}
.btn.l{font-size:22px}
.btn.xl{padding:8px 30px;font-size:30px}
.btn.solid{border:none;background:#42e3b3;border-radius:999px;color:#fff}
.btn.solid.r{background:#FF5858}
.btn.solid.g{background:#41f265}
.btn.disable,.btn.understated{opacity:.5}
.btn.disable{pointer-events:none}
.br{width:100%;border-top:1px solid rgba(255,255,255,.2)}
.br.v{width:auto;height:auto;border:none;border-left:1px solid rgba(255,255,255,.2)}
.br.hide{opacity:0}
.br.white{border-color:rgba(255,255,255,.5)}
hr{width:100%;opacity:.4}
.screen{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;overflow:auto;padding:30px}
.card-content{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;pointer-events:none;-webkit-perspective:1500px;perspective:1500px;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.card-content.humble{opacity:.3}
.card-content.humble .module-card-frame{pointer-events:none}
.curtain{position:absolute;top:0;left:0;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background:-webkit-linear-gradient(120deg,#14191a,#3f5261);background:-o-linear-gradient(120deg,#14191a,#3f5261);background:linear-gradient(-30deg,#14191a,#3f5261)}
.curtain h1{letter-spacing:1px;-webkit-animation:breathe 4s infinite;animation:breathe 4s infinite;-webkit-transition-timing-function:cubic-bezier(.76,0,.24,1);-o-transition-timing-function:cubic-bezier(.76,0,.24,1);transition-timing-function:cubic-bezier(.76,0,.24,1);color:#fff}
@-webkit-keyframes breathe{0%,100%{opacity:.8}
50%{opacity:.3}
}
@keyframes breathe{0%,100%{opacity:.8}
50%{opacity:.3}
}
.curtain-enter-active,.curtain-leave-active{-webkit-transition-duration:.7s!important;-o-transition-duration:.7s!important;transition-duration:.7s!important}
.curtain-enter-active h1,.curtain-leave-active h1{-webkit-transition-duration:.7s!important;-o-transition-duration:.7s!important;transition-duration:.7s!important}
.curtain-enter,.curtain-leave-to{-webkit-transform:scale(1.1)!important;-ms-transform:scale(1.1)!important;transform:scale(1.1)!important;opacity:0!important}
.curtain-enter h1,.curtain-leave-to h1{letter-spacing:20px!important;opacity:0!important}
.q-menu{-webkit-transition-duration:.2s!important;-o-transition-duration:.2s!important;transition-duration:.2s!important}
.q-tooltip{border-radius:0;background:rgba(68,68,68,.98);overflow:visible;-webkit-box-sizing:border-box;box-sizing:border-box}
.border-effect::after,.border-effect::before{content:"";position:absolute;width:2px;height:100%;top:0;background:#42e3b3;-webkit-animation:tooltipFrame 1s forwards cubic-bezier(.16,1,.3,1);animation:tooltipFrame 1s forwards cubic-bezier(.16,1,.3,1)}
.border-effect::after{left:-5px}
.border-effect::before{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);right:-5px}
.border-effect.err::after,.border-effect.err::before{background:#FF5858}
.border-effect.warn::after,.border-effect.warn::before{background:#ff9447}
@-webkit-keyframes tooltipFrame{0%{-webkit-clip-path:polygon(0 100%,100% 100%,100% 100%,0 100%);clip-path:polygon(0 100%,100% 100%,100% 100%,0 100%)}
100%{-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 100%);clip-path:polygon(0 0,100% 0,100% 100%,0 100%)}
}
@keyframes tooltipFrame{0%{-webkit-clip-path:polygon(0 100%,100% 100%,100% 100%,0 100%);clip-path:polygon(0 100%,100% 100%,100% 100%,0 100%)}
100%{-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 100%);clip-path:polygon(0 0,100% 0,100% 100%,0 100%)}
}
.opacity-enter-active,.opacity-leave-active{-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.opacity-enter,.opacity-leave-to{opacity:0!important}
.zoom-out-enter-active,.zoom-out-leave-active{-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.zoom-out-enter,.zoom-out-leave-to{opacity:0;-webkit-transform:scale(.95)!important;-ms-transform:scale(.95)!important;transform:scale(.95)!important}
.move-down-enter-active,.move-down-leave-active{-webkit-transition-duration:.3s!important;-o-transition-duration:.3s!important;transition-duration:.3s!important}
.move-down-enter,.move-down-leave-to{opacity:0;-webkit-transform:translateY(10px)!important;-ms-transform:translateY(10px)!important;transform:translateY(10px)!important}
.move-right-enter-active,.move-right-leave-active{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.move-right-enter,.move-right-leave-to{opacity:0;-webkit-transform:translateX(10px)!important;-ms-transform:translateX(10px)!important;transform:translateX(10px)!important}
.move-left-enter-active,.move-left-leave-active{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.move-left-enter,.move-left-leave-to{opacity:0;-webkit-transform:translateX(-10px)!important;-ms-transform:translateX(-10px)!important;transform:translateX(-10px)!important}
.move-bottom-right-enter-active,.move-bottom-right-leave-active{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.move-bottom-right-enter,.move-bottom-right-leave-to{opacity:0;-webkit-transform:translate(-10px,10px)!important;-ms-transform:translate(-10px,10px)!important;transform:translate(-10px,10px)!important}
.list-enter-active,.list-leave-active{-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s}
.list-move{-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s}
.list-leave-active{position:absolute}
.list-enter,.list-leave-to{opacity:0;-webkit-transform:translateX(1px);-ms-transform:translateX(1px);transform:translateX(1px)}
.sacle-h-enter-active,.sacle-h-leave-active{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.sacle-h-enter,.sacle-h-leave-to{max-height:0vh!important}
.card-move{-webkit-transition-duration:.3s!important;-o-transition-duration:.3s!important;transition-duration:.3s!important}
.card-enter,.card-leave-to{opacity:0!important}
.card-enter{-webkit-transform:rotateY(20deg)!important;transform:rotateY(20deg)!important}
.card-leave-to{-webkit-transform:rotateY(-20deg)!important;transform:rotateY(-20deg)!important}
.card-leave-active{position:absolute!important}