mixin ctrl-item-label()
  .label
    | ▸ {{param.name}}
    q-tooltip(transition-show="jump-up" transition-hide="jump-up"
              anchor="center right" self="center left"
              :content-class=`['fs-14',  'word-break', 'border-effect']`)
      | {{param.key}}<br>{{param.description}}

mixin ctrl-sub-item-tooltip()
  q-tooltip(transition-show="" transition-hide=""
            anchor="center right" self="center left"
            :content-class=`['fs-14',  'word-break', 'border-effect',
                            {'d-none': setterDataParams[key].class !== 'err'},
                            setterDataParams[key].class]`)
    | {{setterDataParams[key].msg}}

template
  .ctrl-section
    .ctrl-section-item(v-for="(param, key) in computedSetterParams")
      // 單一數值
      .ctrl-item(v-if="param.ctrl === 'Number'")
        +ctrl-item-label()
        .ctrl-sub-item(:class="setterDataParams[key].class")
          input(v-model.trim="setterDataParams[key].value"
                type="text" @change="onSetterChange()").number
          +ctrl-sub-item-tooltip()

      // select 下拉選單
      .ctrl-item(v-else-if="param.ctrl === 'Select'")
        +ctrl-item-label()
        .ctrl-sub-item(:class="setterDataParams[key].class")
          select(v-model="setterDataParams[key].value"
                type="text" @change="onSetterChange()")
            option(v-for="item in param.list"
                    :value="item.val")
              | {{item.description}}
          +ctrl-sub-item-tooltip()

      // 長矩陣
      .ctrl-item.v(v-else-if=`param.ctrl === 'Array'
                              && param.max.length >= 5`)
        +ctrl-item-label()
        .ctrl-sub-item(:class="setterDataParams[key].class")
          input(v-model.trim="setterDataParams[key].value"
                type="text" @change="onSetterChange()").l-array
          +ctrl-sub-item-tooltip()

      // 矩陣
      .ctrl-item(v-else-if="param.ctrl === 'Array'")
        +ctrl-item-label()
        .ctrl-sub-item(:class="setterDataParams[key].class")
          input(v-model.trim="setterDataParams[key].value"
                type="text" @change="onSetterChange()").array
          +ctrl-sub-item-tooltip()

      .ctrl-item(v-else)
        .label.err
          | ▸ 未定義參數




script(src="./js/setter-ctrl.js")