doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")

    title Device Broker v
    link(rel="stylesheet" href="css/1.10.3-quasar.min.css")
    link(rel="stylesheet" href="css/base.css")
    link(rel="stylesheet" href="css/element.css")
    link(rel="stylesheet" href="css/component.css")
    link(rel="stylesheet" href="fonts/fonts.css")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700&display=swap")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional")

  body  
    include structure/body.pug
    script(src="js/asset/2.6.11-vue.min.js")
    script(src="js/asset/2.24.0-moment.js")
    script(src="js/asset/1.6.3-mousetrap.js")
    script(src="js/asset/1.10.3-quasar.umd.min.js")
    script(src="js/asset/1.10.3-zh-hant.umd.min.js")

    script(src="js/index.js")
    
  