.screen(@click.self="screenClick()" v-cloak)
  transition-group(name="card" tag="div"
                   :class=`{'humble': menu.option.show}`).card-content
    module-card(v-for="(card, path) in cardVal"
                :ref="path" :path="path" :key="path"
                @setting="cardSettingEvent"
                @delete="deleteCard")


  transition(name="move-left")
    .path-list(v-if="menu.com.show"
              @mouseleave="menu.com.show = false")
      .path-btn(v-for="com in comList" :key="com.path"
                :class="{'exist': com.exist}"
                @click="switchCard(com.path)")
        label
          | {{com.path}}
        label.fs-12
          | {{com.manufacturer}}　

  .menu(@mouseenter="menu.com.show = true"
        :class="{'hover': menu.com.show}").lb



  .menu(@mouseenter="menu.option.show = true"
        :class="{'hover': menu.option.show}").rb

  transition(name="move-right")
    .app-option(v-if="menu.option.show")
      q-list
        q-expansion-item(label="資源設定" icon="folder_open" 
                         caption="參數檔、命令檔 •••")
          .option-item
            label 參數檔路徑
            .ctrl
              input.text
              q-tooltip(transition-show="jump-up"
                        transition-hide="jump-up"
                        anchor="center right" self="center left"
                        :content-class="['fs-14', 'word-break']")
                | HI
          .option-item
            label 命令檔路徑
            .ctrl
              input.text

        q-expansion-item(label="功能設定" icon="toc" 
                         caption="全域變數儲存 •••")
          .option-item
            label BPS

        q-item(@click="menu.option.show = false"
              clickable)
          q-item-section
            q-avatar(icon="close")
          q-item-section 關閉設定


  transition(name="curtain")
    .curtain(v-if="!status.isReady")
      h1 Device Broker
    