@import "../var"

$card-w: 500px
$card-h: 500px
$card-p: 15px

.module-card-frame
  display: flex
  pointer-events: auto
  position: relative
  border: 1px solid rgba(white, 0.5)
  box-sizing: border-box
  transition-duration: 0.4s
  margin-right: 20px
  margin-bottom: 20px
  .shape
    position: absolute
    width: 25px
    height: 25px
    clip-path: polygon(0 1%, 0% 100%, 100% 0)
    background: rgba(white, 0.2)
    transition-duration: 0.7s
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1)
    &.lt
      top: 0px
      left: 0px
      transform: translate(-25%, -25%) rotate(0deg)
    &.lb
      bottom: 0px
      left: 0px
      transform: translate(-25%, 25%) rotate(-90deg)
    &.rt
      top: 0px
      right: 0px
      transform: translate(25%, -25%) rotate(90deg)
    &.rb
      bottom: 0px
      right: 0px
      transform: translate(25%, 25%) rotate(180deg)

  &.selected
    border-color: $color-main
    .shape
      background: rgba($color-main, 0.6)
      width: 15px
      height: 15px
      $offset: 20%
      transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1)
      &.lt
        transform: translate($offset, $offset) rotate(0deg)
      &.lb
        transform: translate($offset, -$offset) rotate(-90deg)
      &.rt
        transform: translate(-$offset, $offset) rotate(90deg)
      &.rb
        transform: translate(-$offset, -$offset) rotate(180deg)

.module-card
  padding: $card-p $card-p*1.5
  position: relative
  display: flex
  flex-direction: column
  .header
    position: relative
    margin-bottom: 10px
    padding-top: 10px
    padding-bottom: 25px
    border-bottom: 1px solid rgba(white, 0.2)
    color: white
    .header-item
      display: flex
      justify-content: flex-start
      align-items: center

    .module-detail
      display: flex
      flex-direction: column
      margin-left: 20px
      height: auto
      .type, .id
        position: absolute
        line-height: 1
        text-shadow: 0px 0px 10px rgba(white, 0.5)
        transition-duration: 0.5s
      .type
        transform: translateY(-100%)
        font-size: 20px
        color: rgba(white, 0.8)
      .id
        transform: translateY(80%)
        font-size: 12px
        color: rgba(white, 0.5)
      &.active
        .type
          color: rgba($color-main, 1)
        .id
          color: rgba($color-main, 0.8)

    .path
      font-size: 22px
      line-height: 1
      color: rgba(white, 1)
      letter-spacing: 2px
      text-shadow: 0px 0px 10px rgba(white, 0.8)
      transition-duration: 0.5s
      &.active
        text-shadow: 0px 0px 10px rgba(white, 1)
        color: $color-main

    .action
      position: absolute
      right: 0px
      display: flex
      justify-content: flex-end
      align-items: center
      $btn-size: 20px
      .action-btn
        margin-left: 30px

      .switch
        position: relative
        width: $btn-size
        height: $btn-size
        cursor: pointer
        &::after, &::before
          content: ""
          position: absolute
          top: 50%
          right: 0
          transition-duration: 0.7s
          transform: translateY(-50%)
          transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1)

        $size: 35px
        &::after
          width: $size
          height: $size
          background: rgba($color-main, 0)
          border: 1px solid rgba(white, 0.8)
          box-shadow: 0px 0px 10px rgba($color-main, 0)
        &::before
          width: $size
          height: $size
          border: 1px solid rgba(white, 0)
          transform: translateY(-50%) scale(0)

        &.active
          &::after
            background: rgba($color-main, 1)
            border-color: rgba(white, 0)
            transform: translateY(-50%) scale(0.4)
            box-shadow: 0px 0px 10px rgba($color-main, 1)
          &::before
            border-color: rgba(white, 0.5)
            transform: translateY(-50%) scale(1)

  .body
    display: flex
    flex-direction: column

    .title
      width: 100%
      text-align: center
      border: 1px solid rgba(white, 0.3)
      border-right: 3px solid rgba(white, 0.3)
      border-left: 3px solid rgba(white, 0.3)

      color: rgba(white, 0.9)
      padding: 5px 10px
      margin-bottom: 10px

    .transceiver
      position: relative
      .input
        position: relative
        margin-top: 10px

      input
        width: 100%
        border: none
        outline: none
        background: linear-gradient(-30deg, rgba(white, 0.01), rgba(white, 0.1))
        padding: 5px 10px
        color: white
      .effect
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        pointer-events: none
        transition-duration: 0.1s !important

      .send-enter, .send-leave-to
        background: rgba(white, 0.5)

      .textarea
        width: 830px
        height: 80px
        min-width: $card-w - $card-p
        min-height: 80px
        //font-family: Roboto, 'Noto Sans TC'
        font-family: "Noto Sans TC"
        letter-spacing: 2px
        line-height: 2
        border: none
        outline: none
        background: linear-gradient(-80deg, rgba(white, 0.01), rgba(white, 0.1))
        margin-top: 10px
        padding: 10px
        color: rgba(white, 0.8)
        box-sizing: border-box
        word-break: break-all
        white-space: pre
        overflow: auto
        color: white
        .err
          color: $color-err
        .warn
          color: $color-warn
        .text-item
          display: flex
          margin-top: 5px
          .date
            border-right: 1px solid rgba(white, 0.2)
            margin-right: 10px
            padding-right: 10px
            flex: 1
          .text
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex: 4
            word-break: break-all
            white-space: normal

  .option
    position: absolute
    top: 0
    left: 0
    padding: 10px
    width: 100%
    height: 100%
    background: rgba(darken($color-black, 20%), 0.98)
    overflow: auto
    .q-expansion-item
      color: white
      .q-item__label
        font-size: 18px
      .q-item__label--caption
        font-size: 12px
        color: rgba(white, 0.6)
    .q-item
      color: white
      border-bottom: 1px solid rgba(white, 0.3)

    .option-item
      display: flex
      align-items: center
      padding: 5px 15px
      background: rgba(white, 0.05)
      &:hover
        .label
          color: $color-main
          &::before
            color: $color-main

      .label
        transition-duration: 0.4s
        color: white
        flex: 1
        &::before
          content: "▪"
          margin-right: 5px
          color: white
          transition-duration: 0.4s

      input.text
        color: white
        padding: 5px 10px
        border: none
        outline: none
        background: rgba(white, 0.1)
        text-align: center
        flex: 0.8
      input.checkbox
        color: white
        flex: 0.8
        height: 20px

      .q-select
        width: 150px
        background: rgba(white, 0.1)
        flex: 1
        .q-field__marginal
          height: auto
        .q-field__native, .q-field__control
          min-height: auto !important
        .q-field__native
          padding: 5px 10px

// 卡片右鍵選單
.card-context-menu
  border-radius: 0px
  border: 1px solid rgba(white, 0.3)
  background: rgba($color-bg, 0.9)
  color: white
  .q-list
    min-width: 170px
  .q-item
    &.active
      background: rgba(white, 0.1)
      .q-item__section
        color: $color-main

  .q-separator
    background: rgba(white, 0.3)
