@import "../var"

.modules-params
  max-height: 63vh
  overflow-x: hidden
  overflow-y: auto
  color: white
  flex: 1
  .params-form
    display: flex
    flex-direction: column
    .param-item
      margin-top: 5px
      &:first-child
        margin-top: 0px
      hr
        margin: 2px 0px
    .param-section      
      display: flex
      justify-content: center
      align-items: center
      width: 100%      
      transition-duration: 0.3s
      &.v
        flex-direction: column
      
      .label
        width: 100%
        font-size: 14px        
        outline-right: 1px solid rgba(white, 0.2)
        position: relative
        text-align: left
        flex: 1  

      .ctrl
        width: 100%
        display: flex
        justify-content: flex-end        
        flex: 1
        input, select
          width: 100%
          border: none
          outline: none
          background: rgba(white, 0.1)
          padding: 5px
          max-width: 200px
          color: white
          font-family: "Noto Sans TC"
        .number
          text-align: center  
        select
          text-align-last: center
          font-family: "Noto Sans TC"
          option
            color: white
            background: rgba($color-bg, 0.95) 
            font-family: "Noto Sans TC"
            border: none
            outline: none    
        .array
          width: 100%
          text-align: center
          font-size: 12px
          max-width: none




  .param-item-enter-active, .param-item-leave-active 
    transition-duration: 0.4s
  .param-item-enter, .param-item-leave-to 
    opacity: 0 !important
  .param-item-enter
    transform: translateX(-5px) !important
  .param-item-leave-to 
    transform: translateX(5px) !important

    