@import "../var"

.setter-params  
  max-height: 63vh
  overflow-x: hidden
  overflow-y: auto
  color: white
  flex: 1
  .setter-form
    display: flex
    flex-direction: column   
    .setter-item
      margin-top: 10px
      &:first-child
        margin-top: 0px
      hr
        margin: 0px
    .setter-section
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%      
      transition-duration: 0.3s
      &.h
        position: relative
        justify-content: space-between
        align-items: stretch
        flex-direction: row      
        .btn
          display: flex
          top: 0px
          bottom: 0px          
      &.err

      .btn
        padding: 10px
        outline: 1px solid rgba(white, 0)
        border-color: rgba(white, 0.1)
        outline-offset: -1px
        transition-duration: 0.3s
        background: rgba(white, 0.1)
        position: relative
        overflow: visible
        &.empty
          cursor: not-allowed
        &.lock
          cursor: not-allowed
          opacity: 0.2
        &:active
          .btn-shape
            background-color: $color-main

        .btn-shape
          position: absolute
          width: 1px
          height: 1px
          background: rgba(white, 1)          
          transition-duration: 0.1s
          $offset: -1px
          &.rt
            right: $offset
            top: $offset
          &.rb
            right: $offset
            bottom: $offset
          &.lt
            left: $offset
            top: $offset
          &.lb
            left: $offset
            bottom: $offset
            
      input.accordion
        display: none
        &:checked
          ~ .setter-label
            &.accordion
              &::after
                transform: rotateX(180deg) scale(1.5)
                opacity: 1              
          ~ .ctrl
            max-height: 0vh

      .setter-label
        width: 100%
        display: flex
        justify-content: space-between
        &.accordion
          cursor: pointer
          &::after
            content: "▴"
            transition-duration: 0.4s
            opacity: 0.5

        .label
          width: 100%
          font-size: 14px        
          outline-right: 1px solid rgba(white, 0.2)
          position: relative
          text-align: left          
          flex: 1
          
      .ctrl
        width: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        max-height: 30vh
        overflow: hidden
        transition-duration: 0.4s
        flex: 1
        
      .ctrl-section
        width: 100%
        border-left: 1px solid rgba(white, 0.5)

      .ctrl-sub-item
        width: 100%
        display:  flex
        justify-content: flex-end
      .ctrl-item
        width: 100%
        display: flex
        justify-content: flex-end
        align-items: center
        margin-top: 5px
        padding-left: 10px
        &:first-child
          margin-top: 0px
        &.v
          flex-direction: column

        .label
          width: 100%
          color: rgba(white, 0.6)
          margin-right: 5px
          flex: 1
          &.err
            color: $color-err
        .ctrl-sub-item
          border: 1px solid rgba(white, 0)
          border-left: 3px solid rgba(white, 0)
          border-right: 3px solid rgba(white, 0)
          transition-duration: 0.4s
          flex: 1
          &.err
            border-color: $color-err
          &.warn
            border-color: $color-warn
          
        input, select
          width: 100%
          border: none
          outline: none
          background: rgba(white, 0.1)
          font-family: "Noto Sans TC"
          padding: 2px
          max-width: 200px
          color: white
        .number
          text-align: center  
        select
          text-align-last: center
          font-family: "Noto Sans TC"
          option
            color: white
            background: rgba($color-bg, 0.95)
            border: none
            outline: none  
            font-family: "Noto Sans TC"  
        .array
          width: 100%
          text-align: center
          font-size: 12px

        .l-array
          min-width: 100%
          text-align: center
          font-size: 10px

  
  .btn-leave, .btn-enter
    outline: rgba(white, 1) solid 1px !important
    outline-offset: -1px !important
  .btn-leave-active, .btn-enter-active
    outline: rgba(white, 1) solid 1px !important
  .btn-leave-to, .btn-enter-to
    background: $color-main
    outline: rgba(white, 0) solid 1px !important
    outline-offset: 10px !important