
<template>
  <div class="ctrl-section">
    <div class="ctrl-section-item" v-for="(param, key) in computedSetterParams">
      <!-- 單一數值-->
      <div class="ctrl-item" v-if="param.ctrl === 'Number'">
        <div class="label">▸ {{param.name}}
          <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
        </div>
        <div class="ctrl-sub-item" :class="setterDataParams[key].class">
          <input class="number" v-model.trim="setterDataParams[key].value" type="text" @change="onSetterChange()"/>
          <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setterDataParams[key].class !== 'err'},
                            setterDataParams[key].class]">{{setterDataParams[key].msg}}</q-tooltip>
        </div>
      </div>
      <!-- select 下拉選單-->
      <div class="ctrl-item" v-else-if="param.ctrl === 'Select'">
        <div class="label">▸ {{param.name}}
          <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
        </div>
        <div class="ctrl-sub-item" :class="setterDataParams[key].class">
          <select v-model="setterDataParams[key].value" type="text" @change="onSetterChange()">
            <option v-for="item in param.list" :value="item.val">{{item.description}}</option>
          </select>
          <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setterDataParams[key].class !== 'err'},
                            setterDataParams[key].class]">{{setterDataParams[key].msg}}</q-tooltip>
        </div>
      </div>
      <!-- 長矩陣-->
      <div class="ctrl-item v" v-else-if="param.ctrl === 'Array'
                              &amp;&amp; param.max.length &gt;= 5">
        <div class="label">▸ {{param.name}}
          <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
        </div>
        <div class="ctrl-sub-item" :class="setterDataParams[key].class">
          <input class="l-array" v-model.trim="setterDataParams[key].value" type="text" @change="onSetterChange()"/>
          <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setterDataParams[key].class !== 'err'},
                            setterDataParams[key].class]">{{setterDataParams[key].msg}}</q-tooltip>
        </div>
      </div>
      <!-- 矩陣-->
      <div class="ctrl-item" v-else-if="param.ctrl === 'Array'">
        <div class="label">▸ {{param.name}}
          <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{param.key}}<br>{{param.description}}</q-tooltip>
        </div>
        <div class="ctrl-sub-item" :class="setterDataParams[key].class">
          <input class="array" v-model.trim="setterDataParams[key].value" type="text" @change="onSetterChange()"/>
          <q-tooltip transition-show="" transition-hide="" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                            {'d-none': setterDataParams[key].class !== 'err'},
                            setterDataParams[key].class]">{{setterDataParams[key].msg}}</q-tooltip>
        </div>
      </div>
      <div class="ctrl-item" v-else="v-else">
        <div class="label err">▸ 未定義參數</div>
      </div>
    </div>
  </div>
</template>
<script src="./js/setter-ctrl.js"></script>