
<template>
  <div class="setter-params" v-if="status.err === ''">
    <transition-group class="setter-form" name="list" tag="div">
      <div class="setter-item" v-for="(setter, i) in setterList" :key="setter.key + '-' + i">
        <!-- Block 排版元件-->
        <div class="setter-section" v-if="setter.block">
          <hr v-if="setter.block === 'hr'"/>
          <label v-else="v-else">未定義的排版元件 {{setter.block}}</label>
        </div>
        <!-- 不須參數-->
        <div class="setter-section" v-else-if="setter.noParams">
          <div class="setter-label">
            <div class="label" :msg="setter.key" :class="setter.class">{{setter.name}}
              <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{setter.key}}<br>{{setter.description}}</q-tooltip>
            </div>
            <transition name="btn" mode="out-in">
              <div class="btn" @click="sendSetting(setters[i], setter)" :class="{'lock': !isPortOpen}" :key="setters[i].timestamp">
                <div class="btn-shape rt"></div>
                <div class="btn-shape rb"></div>
                <div class="btn-shape lt"></div>
                <div class="btn-shape lb"></div>
              </div>
            </transition>
          </div>
        </div>
        <!-- 需要參數-->
        <div class="setter-section h" v-else="v-else">
          <div class="c-col w-100 mr-5px">
            <input class="accordion" v-model="setters[i].isMinify" type="checkbox" :id="path + '-' + setter.key + '-' + i" checked="checked"/>
            <label class="setter-label accordion" :for="path + '-' + setter.key + '-' + i">
              <div class="label" :msg="setter.key" :class="setter.class">{{setter.name}}
                <q-tooltip transition-show="jump-up" transition-hide="jump-up" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect']">{{setter.key}}<br>{{setter.description}}</q-tooltip>
              </div>
            </label>
            <div class="ctrl">
              <!-- 命令參數-->
              <template v-if="!isEmpty(setter.params)">
                <setter-ctrl :setter="setter" :computedSetterParams="setter.params" :setterDataParams="setters[i].params" @setterChange="onSetterChange"></setter-ctrl>
              </template>
              <!--hr-->
              <template v-if="!isEmpty(setter.extParams)">
                <setter-ctrl :setter="setter" :computedSetterParams="setter.extParams" :setterDataParams="setters[i].extParams" @setterChange="onSetterChange"></setter-ctrl>
              </template>
            </div>
          </div>
          <transition name="btn" mode="out-in">
            <div class="btn" @click="sendSetting(setters[i], setter)" :class="{'lock': !isPortOpen}" :key="setters[i].timestamp">
              <div class="btn-shape rt"></div>
              <div class="btn-shape rb"></div>
              <div class="btn-shape lt"></div>
              <div class="btn-shape lb"></div>
            </div>
          </transition>
        </div>
      </div>
    </transition-group>
  </div>
  <div class="setter-params" v-else="v-else">
    <label>{{status.err}}</label>
  </div>
</template>
<script src="./js/setter-form.js"></script>